$level_1_color: rgb(218, 231, 255);
$level_2_color: rgb(154, 190, 255);
$level_3_color: rgb(72, 135, 252);
$level_4_color: rgb(6, 91, 248);
$level_5_color: rgb(0, 74, 211);
$level_6_color: rgb(1, 57, 161);
$level_7_color: rgb(0, 34, 97);
